/* màu
primary-color: #c88859 

secondary-color: #d88e58

title-color: #333333

text-color: #414141

background-color: #f7f7f7

background-color-title: #fafafa


*/


/* FONT chữ
title: Poppins , font-weight: 400 (regular)

text-title: PlayfairDisplay , font-weight: italic

[GreatVibes] regular

[Poppins] semibold

[Poppins] medium

font-family: 'Great Vibes', cursive;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
*/