// MENU
$Menu-hover: #bb7f54;

// Border
$border-color: #7d563a;

// Main Color 
$primary-color: #c88859 ;

// text
$text-primary-color: #fff;

$text-second-color: #414141;

$text-third-color: #404040;

$text-four-color: #6f7681;

// title 
$title-primary-color: #333333;

$title-second-color: #2c323a;

$title-third-color: #636363;

// Background Color
$background-primary-color: #ffffff;

$background-second-color: #fcfcfc;

$background-third-color: #f7f7f7;

$background-four-color: #fafafa;

$background-five-color: #fafbfe;

// IMAGES HOVER
$image-hover: #debda8;

// Font 
$font-Great: 'Great Vibes', cursive;
$font-Playfair: 'Playfair Display', serif;
$font-Poppins: 'Poppins', sans-serif;


// $secondary-color: #d88e58;



// $background-color-title: #fafafa;